
tema3/data/cifar-10-batches-py/batches.meta
tema3/data/cifar-10-batches-py/data_batch_1
tema3/data/cifar-10-batches-py/data_batch_2
tema3/data/cifar-10-batches-py/data_batch_3
tema3/data/cifar-10-batches-py/data_batch_4
tema3/data/cifar-10-batches-py/data_batch_5
tema3/data/cifar-10-batches-py/readme.html
tema3/data/cifar-10-batches-py/test_batch
tema3/data/cifar-10-python.tar.gz
tema3/data/cifar-100-python.tar.gz
tema3/data/cifar-100-python/file.txt~
tema3/data/cifar-100-python/meta
tema3/data/cifar-100-python/test
tema3/data/cifar-100-python/train
tema3/data/MNIST/raw/t10k-images-idx3-ubyte
tema3/data/MNIST/raw/t10k-images-idx3-ubyte.gz
tema3/data/MNIST/raw/t10k-labels-idx1-ubyte
tema3/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
tema3/data/MNIST/raw/train-images-idx3-ubyte
tema3/data/MNIST/raw/train-images-idx3-ubyte.gz
tema3/data/MNIST/raw/train-labels-idx1-ubyte
tema3/data/MNIST/raw/train-labels-idx1-ubyte.gz
